@page "/"
@inject NotificationService NotificationService
@using AkinsoftExcellOkuma.Application.CustomExceptions
@using AkinsoftExcellOkuma.Application.DTOs
@using AkinsoftExcellOkuma.Application.DTOs.IKDTOs
@using AkinsoftExcellOkuma.Client.Utils
@using AkinsoftExcellOkuma.Domain.Enums
@using Microsoft.AspNetCore.Components.Forms
@if (isprogActive)
{
    <div class="col-12" style="position:fixed; z-index:99999; align-items:center;">
        <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
            <RadzenProgressBarCircular Style="color:darkslateblue" Size="ProgressBarCircularSize.Large" @bind-Value="@value" />
        </RadzenStack>
     
    </div>
}

<div class="col-md-6 p-3">

    
    <RadzenUpload @ref="upload" Accept=".xlsx" Auto="false" Multiple="false" Url="/api/Puantaj/GetPath" ChooseText="Excell Seç" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"
                  Change=@(args => OnProgressChanged(args)) class="w-100" />

    <EditForm Model="@dayIndex" OnValidSubmit="up">
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="6" SizeMD="6">
                <RadzenStack>
                    <RadzenFormField AllowFloatingLabel="false" Text="Sicil No">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.SicilNo" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="SicilNo">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>

                    <RadzenFormField AllowFloatingLabel="false" Text="Ay Kodu">

                        <ChildContent>
                            <RadzenDropDown AllowVirtualization="true" AllowFiltering="true" @bind-Value="dayIndex.AyKodu" AllowClear="false" Data="@ColumnTypes" TextProperty="Name" ValueProperty="Id" Name="AyKodu">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="İşyeri Kodu">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.IsyeriKodu" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="IsyeriKodu">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>

                    <RadzenFormField AllowFloatingLabel="false" Text="İşyeri Adı">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.IsyeriAdi" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="IsyeriAdi">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Çalışılan Gün">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.CL" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Hafta Sonu">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.HS" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Genel Tatil">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.GT" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Raporlu">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.RP" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Ücretli İzin">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.UL" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Ücretsiz İzin">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.UZ" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Yıllık İzin">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.YL" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="6">
                <RadzenStack>
                    <RadzenFormField AllowFloatingLabel="false" Text="Gelmedi">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.GM" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>

                    <RadzenFormField AllowFloatingLabel="false" Text="Eksik Gün">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.EksikGun" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Toplam Prim Günü">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.ToplamPrimGun" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>

                    <RadzenFormField AllowFloatingLabel="false" Text="Toplam Ücret Günü">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.ToplamUcretGun" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" Style="width: 50%;" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Hafta İçi M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_HFICI_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Hafta Sonu M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_HFSN_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Bayram M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_BYRM_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Hafta İçi Gece M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_HFICI_GECE_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Hafta Sonu Gece M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_HFSN_GECE_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Bayram Gece M.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.MESAI_BYRM_GECE_PNC" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                    <RadzenFormField AllowFloatingLabel="false" Text="Toplam Uzaktan Ç.">

                        <ChildContent>
                            <RadzenDropDown @bind-Value="dayIndex.TOPLAM_UZAKTAN_CALISMA" AllowClear="false" Data="@ColumnTypes" AllowVirtualization="true" AllowFiltering="true" TextProperty="Name" ValueProperty="Id" Name="Id">
                            </RadzenDropDown>
                        </ChildContent>

                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
      @*   <RadzenRow Gap="1rem">

            <RadzenColumn Size="12" SizeMD="12">
                <RadzenStack Gap="1rem" JustifyContent="JustifyContent.Center">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" @bind-Value="@value" />
                </RadzenStack>

            </RadzenColumn>
        </RadzenRow> *@
        <RadzenRow Gap="1rem">

            <RadzenColumn Size="12"   SizeMD="12">
                <RadzenStack Gap="1rem" JustifyContent="JustifyContent.Center">
                    <RadzenButton ButtonType=ButtonType.Submit Text="Yükle" Disabled="isActive" class="d-block mt-6" />
                </RadzenStack>

            </RadzenColumn>
        </RadzenRow>


    </EditForm>
</div>
@code {
    [Inject]
    public HttpClient HttpClient { get; set; }
    List<EnumToName> ColumnTypes = new List<EnumToName>();
    RadzenUpload upload;
    DayIndexDTO dayIndex = new DayIndexDTO();
    PersonelDTO personel = new PersonelDTO();
    List<TatilDTO> hfTatil = new List<TatilDTO>();
    List<TatilDTO> bayramTatil = new List<TatilDTO>();
    List<DayDTO> dayDTO = new List<DayDTO>();
    PuantajCetveliDTO puantajCetveli = new PuantajCetveliDTO();
    List<PuantajCetveliDTO> puantajCetveliDTOs = new List<PuantajCetveliDTO>();
    bool isActive = false;
    double value = 0;
    bool isprogActive = false;
    protected override Task OnInitializedAsync()
    {

        var ss = EnumHelper.GetEnumDescriptionAndValues<ColumnType>();
        foreach (var item in ss)
        {
            ColumnTypes.Add(new EnumToName { Name = item.Key, Id = item.Value });
        }
        dayIndex.SicilNo = 1;
        dayIndex.AyKodu = 2;
        dayIndex.IsyeriKodu = 3;
        dayIndex.IsyeriAdi = 4;
        dayIndex.CL = 5;
        dayIndex.HS = 6;
        dayIndex.GT = 7;
        dayIndex.RP = 8;
        dayIndex.UL = 9;
        dayIndex.UZ = 10;
        dayIndex.YL = 11;
        dayIndex.GM = 12;
        dayIndex.EksikGun = 13;
        dayIndex.ToplamPrimGun = 14;
        dayIndex.ToplamUcretGun = 15;
        dayIndex.MESAI_HFICI_PNC = 16;
        dayIndex.MESAI_HFSN_PNC = 17;
        dayIndex.MESAI_BYRM_PNC = 18;
        dayIndex.MESAI_HFICI_GECE_PNC = 19;
        dayIndex.MESAI_HFSN_GECE_PNC = 20;
        dayIndex.MESAI_BYRM_GECE_PNC = 21;
        dayIndex.TOPLAM_UZAKTAN_CALISMA = 22;
        return base.OnInitializedAsync();
    }
    void OnProgressChanged(UploadChangeEventArgs args)
    {
        foreach (var item in args.Files)
        {
            dayIndex.PathName = item.Name;
        }

    }
    void test(double count)
    {
        if (value==100)
        {
            value = 0;
        }
        value = value+count;
        StateHasChanged();
    }
    async void up()
    {
        try
        {
            isprogActive = true;
            isActive = true;
            int rp = 0;
            int ul = 0;
            int uz = 0;
            int yl = 0;
            int gm = 0;
            int cl = 0;
            await upload.Upload();

            dayDTO = await HttpClient.PostGetServiceResponseNullTokenAsync<List<DayDTO>, DayIndexDTO>("api/Puantaj/Puantajs", dayIndex, true);
            var dayDtoCount = dayDTO.Count();
            var prose = Convert.ToDouble( 100) / Convert.ToDouble( dayDtoCount);
            foreach (var day in dayDTO)
            {


                puantajCetveli = new();
                var tarih = new DateTime(DateTime.Now.Year, day.AyKodu, 1);
                var totaldays = day.HS + day.GT + day.CL + day.UL + day.UZ + day.RP + day.YL + day.GM;
                if (totaldays <= tarih.AddMonths(1).AddDays(-1).Day)
                {
                    hfTatil = await HttpClient.GetServiceResponseNullTokenAsync<List<TatilDTO>>("api/Puantaj/Tatils/" + DateTime.Now.Year.ToString() + "/" + day.AyKodu);
                    bayramTatil = await HttpClient.GetServiceResponseNullTokenAsync<List<TatilDTO>>("api/Puantaj/Cleander/" + DateTime.Now.Year.ToString() + "/" + day.AyKodu);
                    puantajCetveli = new();
                    long persBlKodu = await HttpClient.GetServiceResponseNullTokenAsync<long>("api/Personel/PersonelById/" + day.SicilNo);
          
                    puantajCetveli.Blperskodu = persBlKodu;
                    puantajCetveli.Aykodu = day.AyKodu;
                    puantajCetveli.IsyeriKodu = day.IsyeriKodu;
                    puantajCetveli.IsyeriAdi = day.IsyeriAdi;
                    puantajCetveli.EksikGun = day.EksikGun;
                    puantajCetveli.ToplamUcretgunu = day.ToplamUcretGun;
                    puantajCetveli.MesaiHficiPnc = day.MESAI_HFICI_PNC;
                    puantajCetveli.MesaiHfsnPnc = day.MESAI_HFSN_PNC;
                    puantajCetveli.MesaiByrmPnc = day.MESAI_BYRM_PNC;
                    puantajCetveli.MesaiHficiGecePnc = day.MESAI_HFICI_GECE_PNC;
                    puantajCetveli.MesaiHfsnGecePnc = day.MESAI_HFSN_GECE_PNC;
                    puantajCetveli.MesaiByrmGecePnc = day.MESAI_BYRM_GECE_PNC;
                    puantajCetveli.ToplamUzaktanCalisma = day.TOPLAM_UZAKTAN_CALISMA;
                    rp = 0;
                    ul = 0;
                    uz = 0;
                    yl = 0;
                    gm = 0;
                    cl = 0;
                    foreach (var item in hfTatil)
                    {
                        if (item.Gun >= 1 && item.Gun <= 31)
                        {
                            var gunPropertyName = "Gun" + item.Gun.ToString("D2"); // D2 ile 2 haneli sayıya dönüştürme sağlanıyor.
                            var gunProperty = typeof(PuantajCetveliDTO).GetProperty(gunPropertyName);
                            if (gunProperty != null)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Hs);
                            }
                        }

                    }
                    foreach (var item in bayramTatil)
                    {
                        if (item.Gun >= 1 && item.Gun <= 31)
                        {
                            var gunPropertyName = "Gun" + item.Gun.ToString("D2"); // D2 ile 2 haneli sayıya dönüştürme sağlanıyor.
                            var gunProperty = typeof(PuantajCetveliDTO).GetProperty(gunPropertyName);
                            if (gunProperty != null)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Gt);
                            }
                        }
                    }
                    for (int i = 1; i <= 31; i++)
                    {

                        var gunPropertyName = "Gun" + i.ToString("D2"); // D2 ile 2 haneli sayıya dönüştürme sağlanıyor.
                        var gunProperty = typeof(PuantajCetveliDTO).GetProperty(gunPropertyName);
                        if (gunProperty != null)
                        {

                            if (gunProperty.GetValue(puantajCetveli) == null && rp < day.RP)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Rp);
                                rp++;
                            }
                            if (gunProperty.GetValue(puantajCetveli) == null && ul < day.UL)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Ul);
                                ul++;
                            }
                            if (gunProperty.GetValue(puantajCetveli) == null && uz < day.UZ)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Uz);
                                uz++;
                            }
                            if (gunProperty.GetValue(puantajCetveli) == null && yl < day.YL)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Yl);
                                yl++;
                            }
                            if (gunProperty.GetValue(puantajCetveli) == null && gm < day.GM)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Gm);
                                gm++;
                            }
                            if (gunProperty.GetValue(puantajCetveli) == null && cl < day.CL)
                            {
                                gunProperty.SetValue(puantajCetveli, CetvelType.Cl);
                                cl++;
                            }
                        }

                    }

                    puantajCetveliDTOs.Add(puantajCetveli);
                    puantajCetveli = await HttpClient.PostGetServiceResponseNullTokenAsync<PuantajCetveliDTO, PuantajCetveliDTO>("api/PuantajCetveli/Create", puantajCetveli, true);
                    var personel = await HttpClient.GetServiceResponseNullTokenAsync<PersonelDTO>("api/Personel/GetPersonelById/" + persBlKodu);
                    var maasKesinti = ((personel.Ucreti / 225) * day.GM);
                    PersonelKesintiDTO personelKesintiDTO = new PersonelKesintiDTO();
                    personelKesintiDTO.Tutari = maasKesinti;
                    personelKesintiDTO.Kodu = "MK01";
                    personelKesintiDTO.Blpersonelkodu = persBlKodu;
                    personelKesintiDTO.Kesinti = "Maaş Kesintisi";
                    personelKesintiDTO.NetMaasiEtkilesin = 1;
                    personelKesintiDTO.GvIndirimiUygula = 0;
                    var personelKesinti = await HttpClient.PostGetServiceResponseNullTokenAsync<PersonelKesintiDTO, PersonelKesintiDTO>("api/Personel/CreateOrUpdatePersonelKesinti", personelKesintiDTO, true);
                    test(prose);
                }
            }
            isActive = false;
            puantajCetveli = new();
            await upload.RemoveFile(dayIndex.PathName);
            dayIndex.PathName = "";
            isprogActive = false;
            StateHasChanged();
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Başarılı", Detail = "işlem başarılı", Duration = 4000, CloseOnClick = true });

        }
        catch (ApiException ex)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Başarısız Api Exception", Detail = $"{ex.Message}", Duration = 10000, CloseOnClick = true });
        }
        catch (Exception ex)
        {

            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Başarısız Exception", Detail = $"{ex.Message}", Duration = 10000, CloseOnClick = true });
        }


    }

}